*{
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

/* Logo */
.container-header{
    width: 100%;
    background-color: white;
}
#logo-img {
    width: 60px;
    height: 60px;
    background-image: url("../img/Logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    margin: 10px;
}
#logo-text {
    line-height: 80px;
    font-size: 30px ;
    font-weight: bold;
}

/* body */
body{
    background-color: #8080801c;
}
/* Parte Superiore */

.container{
    width: 70%;
    height: 40%;
    background-color: white;
    margin-top: 40px;
    line-height: 2.0;
}

.parte-superiore{
    padding: 10px;
    border-bottom: 2px solid #8080801c;
}

.add{
    width: 80px;
    height: 30px;
    display: inline;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 50px;
    padding: 12px;
    border-radius: 20px;
}
.first-add{
    background-color: lightblue;
    color: white;
}
.second-add{
    color: grey;
    border: 1px solid grey;
}

/* Parte Inferiore */

.down{
    padding: 30px 0 10px 30px;
}
.list-point{
    margin-bottom: 30px;

}

.list-point-title{
    font-weight: bold;
} 

.bubble{
    padding: 5px;
    font-size: 10px;
    border-radius: 20px;
    color: white;
}
.blue-bubble {
    background-color: lightblue;
}

.violet-bubble{
    background-color: violet;
}

.green-bubble{
    background-color: #35ff35;
}

.orange-bubble{
    background-color: orange;
}
.pink-bubble{
    background-color: pink;
}
.greenyellow-bubble{
    background-color: greenyellow;
}
.no-list-stile{
    list-style-type: none;
}